body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(176, 148, 52, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

button {
  font-size: 50px;
  position: relative;
  top: -45px;
  background: url(https://image.freepik.com/free-photo/falling-coffee-beans-dark-with-copy-space_88281-1264.jpg);
  border-radius: 15px;
  color: yellow;
  background-position: bottom;
}

#Kroner {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}
#cofPic {
  width: 170px;
  margin-left: 300px;
  position: relative;
  top: -180px;
}
#cofPic:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  20% {
    transform: translate(-1px, -1px) rotate(-2deg);
  }
  40% {
    transform: translate(-0px, 0px) rotate(3deg);
  }
  60% {
    transform: translate(1px, 1px) rotate(4deg);
  }
  80% {
    transform: translate(1px, -1px) rotate(-5deg);
  }
  1000% {
    transform: translate(0px, -0px) rotate(6deg);
  }
}

#sum1 {
}

#eraseStor {
  margin-top: 30px;
  margin-right: 450px;
  border-radius: 20px;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 40px; */
  /*  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,29,6,1) 25%, rgba(15,59,55,1) 51%, rgba(11,64,62,1) 71%, rgba(23,86,93,1) 89%, rgba(0,0,0,1) 100%);
color: whitesmoke; */
}

#eraseLiten {
  border-radius: 20px;
  margin-top: 30px;
  margin-right: -450;
}

#idStor {
  margin-right: 250px;
  position: relative;
  top: 50px;
}

#idLiten {
  margin-right: 250px;
  position: relative;
  top: -50px;
}
